<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>


<div class= "cards">
  <% @games.each do |game|  %>
  <div class="g-card"> 
    <%= image_tag  "gfn-placeholder.jpg", class: "cover-img" %>
    <p><%= game["title"] %></p> 
  </div>
  <% end %>
</div>