/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
   background-color: #12181b;
   color: #76b900;
 }

 .footer a{
   color: #76b900;
   text-decoration: none;
   font-weight: bolder;
 }

 .nav a{
  color: #76b900;
  text-decoration: none;
  font-weight: bolder;
 }

  .cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .title {
    color:white;
  }

  .g-search {
    padding-bottom: 50px;
    margin-left: 0px;
  }

  .pagination {
    padding-bottom: 25px;
    
  }

  .pagination .page a{
    // color: #76b900;
    color:#000000;
    text-decoration: none;
    padding: 0px 5px;
    background-color: white;
  }

  .g-search input{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px;
    color: #76b900;
    padding-right: 150px;
    font-size: x-large;
  }

  .cards a {
    text-decoration: none;
    color: #76b900;
  }

  .cards a:hover {
    // color: #a2f17d;
    color: white;
  }

  .cards a img:hover {
  //  border: solid #a2f17d; 
  border: solid white;
  // box-shadow: 1.5px 1.5px #76b900;

  }
  
  .g-card img{
    max-width: 264px;
    max-height: 352px;
  }

  @media screen and (min-width: 600px) {
  }